
@inject IDialogService DialogService

@using RestaurantManager.Dishes
@using RestaurantManager.Restaurants
@using RestaurantManager.Interface.Components.Dialogs

<MudGrid AlignItems="AlignItems.Center" Class="mb-2">

    <MudItem xs="12" Class="mt-2">
        <MudStack Row="true"
                  Spacing="1"
                  Justify="Justify.FlexStart"
                  AlignItems="AlignItems.Center">
            @if (DishDto.HasImage)
            {
                <div Style="color: #424242 !important;">
                    @if(ShowImageToolTip){
                        <MudTooltip Text="Ver foto" @bind-Visible="_isFirstTime" Placement="Placement.Right" Arrow="true" Color="Color.Tertiary" ShowOnClick="false">
                            <MudIconButton Class="mid-icon menu-eye-icon"
                                           Icon=@($"fa-solid fa-eye")
                                           OnClick="@(() => PreviewImage(DishDto))" />
                        </MudTooltip>
                    }
                    else
                    {
                        <MudIconButton Class="mid-icon menu-eye-icon"
                                       Icon=@($"fa-solid fa-eye")
                                       OnClick="@(() => PreviewImage(DishDto))" />
                    }
                </div>
            }
            <div style="flex: 1 !important">
                <MudText Class="dish-name">@DishDto.Name</MudText>
            </div>
            @if (!string.IsNullOrWhiteSpace(DishDto.Prize))
            {
                <div Style="width: 80px !important;text-align: right;">
                    <MudText Class="dish-price">@DishDto.Prize</MudText>
                </div>
            }
        </MudStack>
    </MudItem>
       

    @if (!string.IsNullOrWhiteSpace(DishDto.Description))
    {
        <MudItem xs="12" Class="pt-0">
                <MudText Class="dish-description">@DishDto.Description</MudText>
        </MudItem>
    }

    @if (DishDto.Allergens.Any())
    {
        <MudItem xs="12" Class="pt-0">
            @foreach (var allergen in DishDto.Allergens)
            {
                <MudIcon Class="small-icon dish-allegern-icon" Size="Size.Small" Icon=@($"fa-solid fa-{allergen.Icon}") Title="@allergen.Name.ToString()" />
            }
        </MudItem>
    }
</MudGrid>

    @code {
    [Parameter, EditorRequired]
    public DishGetResponse DishDto { get; set; } = default!;

    [Parameter, EditorRequired]
    public bool ShowImageToolTip { get; set; } = false;

    [Inject]
    private HttpClient Http { get; set; } = default!;

    private async Task PreviewImage(DishGetResponse dish)
    {
        var options = new DialogOptions()
        {
            CloseButton = false,
            MaxWidth = MaxWidth.Medium,
            FullWidth = false,
            NoHeader = true
        };

        var parameters = new DialogParameters
        {
            { "DishId", $"{dish.DishId}" }
        };

        await DialogService.ShowAsync<PreviewImageDialog>(null, parameters, options);
    }

    private bool _isFirstTime;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // 1. Esperamos un pelín para que el usuario se ubique (ej. 500ms)
            await Task.Delay(500);
            _isFirstTime = true;
            StateHasChanged();

            // 2. Lo dejamos visible por 5 segundos
            await Task.Delay(5000);
            _isFirstTime = false;
            StateHasChanged();
        }
    }
}
