
@inject IDialogService DialogService

@using RestaurantManager.Dishes
@using RestaurantManager.Restaurants
@using RestaurantManager.Interface.Components.Dialogs

<MudGrid AlignItems="AlignItems.Center" Class="mb-2">

    <MudItem xs="12" Class="mt-2">
        <MudStack Row="true"
                  Spacing="1"
                  Justify="Justify.FlexStart"
                  AlignItems="AlignItems.Center">
            @if (DishDto.HasImage)
            {
                <div Style="color: #424242 !important;">
                    <MudIconButton 
                        Class="mid-icon"
                        Icon=@($"fa-solid fa-eye")
                        OnClick="@(() => PreviewImage(DishDto))" />
                </div>
            }
            <div style="flex: 1 !important">
                <MudText Class="dish-name">@DishDto.Name</MudText>
            </div>
            @if (!string.IsNullOrWhiteSpace(DishDto.Prize))
            {
                <div Style="width: 80px !important;text-align: right;">
                    <MudText Class="dish-price">@DishDto.Prize</MudText>
                </div>
            }
        </MudStack>
    </MudItem>
       

    @if (!string.IsNullOrWhiteSpace(DishDto.Description))
    {
        <MudItem xs="12" Class="pt-0">
                <MudText Class="dish-description">@DishDto.Description</MudText>
        </MudItem>
    }

    @if (DishDto.Allergens.Any())
    {
        <MudItem xs="12" Class="pt-0">
            @foreach (var allergen in DishDto.Allergens)
            {
                <MudIcon Class="small-icon dish-allegern-icon" Size="Size.Small" Icon=@($"fa-solid fa-{allergen.Icon}") Title="@allergen.Name.ToString()" />
            }
        </MudItem>
    }
</MudGrid>

@code {
    [Parameter, EditorRequired]
    public DishGetResponse DishDto { get; set; } = default!;

    [Inject]
    private HttpClient Http { get; set; } = default!;

    private async Task PreviewImage(DishGetResponse dish)
    {
        var options = new DialogOptions()
        {
            CloseButton = false,
            MaxWidth = MaxWidth.Medium,
            FullWidth = false,
            NoHeader = true
        };

        var parameters = new DialogParameters
        {
            { "DishId", $"{dish.DishId}" }
        };

        await DialogService.ShowAsync<PreviewImageDialog>(null, parameters, options);
    }
}
